body{
  background-color: aquamarine;
}

.contain{
  margin-left: 100px;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
gap: 70px;
max-width: 1000px;
 
}
img{
  margin-top: 20px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
